:host {
  height: 100vh;

  display: flex;
  flex-direction: column;

  // background-color: yellow;

}

.banner {
  background-color: limegreen;
}

.auto-stretch {
  flex: 1;

  display: flex;
  flex-direction: column;

  background-color: lightblue;
}

p-tabview[styleClass='stretch-tabview'] ::ng-deep {
  flex: 1;

  display: flex;
  flex-direction: column;

  .stretch-tabview {
    flex: 1;

    display: flex;
    flex-direction: column;

    .p-tabview-panels {
      flex:1;

      display: flex;
      flex-direction: column;

      p-tabpanel {
        flex: 1;

        display: flex;
        flex-direction: column;

        .p-tabview-panel {
          flex: 1;
        }
      }
    }
  }
}

.footer {
  background-color: lightcoral;
}
